@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
   font-family: 'Roboto', sans-serif;
}

h3 {
   margin-top: 10px;
}

.card {
   margin: 15px 0;
}

.card .card-title {
   font-size: 1.1rem;
   font-weight: 500;
}